@model List<BS_Project.Models.CartItem>
@using BS_Project.DAO;
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">
            <span>THANH TOÁN</span>
        </h3>
        <div class="resp-tabs-container">
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr style="background-color:#808080">
                            <td>Picture</td>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="background-color:#e6d4d4">

                                <td><img src="@item.Books.ImageBool.Images.FirstOrDefault().ImageURL" style="height:100px; width:70px"></td>
                                <td>@item.Books.Name</td>
                                <td>@item.Books.Price.GetValueOrDefault(0).ToString("N0")</td>
                                <td>
                                    <input min="1" max="3" type="number" value="@item.Quantity" class="txtQuantity" data-id="@item.Books.BookID" />
                                </td>
                                <td>@((item.Books.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                <td><a href="#" data-id="@item.Books.BookID" class="btn-delete"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="section group">
            <div class="col-md-6">
                @{
                    int userID = Convert.ToInt32(Session["userID"]);
                    var dao = new UserDAO();
                    var name = dao.getName(userID);
                    var phone = dao.getPhone(userID);
                    var add = dao.getAddress(userID);
                    var email = dao.getEmail(userID);
                }
                @using (Html.BeginForm("Payment", "CartItem", FormMethod.Post))
                {

                    <div class="form-group">
                        <b><label>Customer's Name</label></b> <br />
                        <input name="CustName" class="form-group" style="width: 800px" value="@name" />
                    </div>
                    <div class="form-group">
                        <b><label>Phone</label></b> <br />
                        <input name="CustPhone" class="form-group" style="width: 800px" value="@phone" />
                    </div>
                    <div class="form-group">
                        <b><label>Address</label></b> <br />
                        <input name="CustAdd" class="form-group" style="width: 800px" value="@add" />
                    </div>
                    <div class="form-group">
                        <b><label>Email</label></b> <br />
                        <input name="CustEmail" class="form-group" style="width: 800px" value="@email" />
                    </div>
                    <button type="submit" class="btn-danger" style="width: 200px">DONE</button>
                }
            </div>
        </div>
    </div>

</div>


